.circle-chart {
    width: 70vw;
    height: 70vw;
    max-width: 80vh;
    max-height: 80vh;
    border-radius: 80%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.chart-pie {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: aquamarine;
    clip-path: polygon(50% 50%, 50% 0%, 100% 0%);
}
.main-screen.circle {
    position: relative;
}
.main-screen.circle .start-button-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
}
.main-screen.circle .start-button {
    width: 50vw;
    height: 50vw;
    max-width: 60vh;
    max-height: 60vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.main-screen.circle .start-button span {
    margin: 0;
    font-size: 10vw;
}






